<div fxLayout="row" fxLayoutAlign="space-between center">
  <div  fxLayout="column" fxFlex="40" fxFlex.gt-sm="100" fxFlexAlign="end center">
     <mat-card >
       <mat-card-content>
         <form>
          <!--Home Email-->
          <div fxLayout="column">
              <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
                <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                  <mat-label>Home Email</mat-label>
                </div>
                <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                  <input class="mrgn-t-none"  matInput placeholder="Home Email" type="text"  required>
                </div>
             </div>
          </div>

          <!--Home Mobile-->
          <div fxLayout="column">
            <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
              <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                <mat-label>Home Mobile</mat-label>
              </div>
              <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                <input class="mrgn-t-none"  matInput placeholder="Home Mobile" type="text"  required>
              </div>
           </div>
        </div>

        <!--Home Phone-->
        <div fxLayout="column">
          <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
            <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
              <mat-label>Home Phone</mat-label>
            </div>
            <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
              <input class="mrgn-t-none"  matInput placeholder="Home Phone" type="text"  required>
            </div>
         </div>
      </div>

           </form>
       </mat-card-content>
     </mat-card>
  </div>


