<div fxLayout="row" fxLayoutAlign="space-between center">
  <div  fxLayout="column" fxFlex="40" fxFlex.gt-sm="100" fxFlexAlign="end center">
     <mat-card>
       <mat-card-header></mat-card-header>

       <mat-card-content>
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="height-full form-wrap-row set-resp-space" fxLayoutGap.gt-md="15px" style="padding-bottom: 5%;">
        <span>
          Please enter your email address and we'll send you a link to reset your password.
         </span>
         </div>
           <form>
        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="center"  fxLayout.xs="column">
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
          <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
          <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
          <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
          <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
            </div>
            </div>


         <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="center space-between"  fxLayout.xs="column">
            <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
              <span class="regularlink">00:{{timeLeft}}</span>
         </div>
         </div>
         <div fxLayout="row wrap" fxLayoutAlign="center space-between"  fxLayout.xs="column">
          <div fxFlex.gt-sm="59" fxFlex.gt-xs="59" fxFlex="100" fxFlex.gt-md="59">
                 <a class="resend" >resend?</a>
             </div>
           </div>
          </div>

             <div class="Loginbtn" fxLayout="row" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" fxLayoutAlign="center">
             <button mat-raised-button>	<mat-icon>check_circle</mat-icon> Verify </button>
             </div>
            </div>
           </form>
       </mat-card-content>


     </mat-card>
  </div>
  <div fxFlex="40%" fxFlexAlign="end center"></div>
</div>
