<div fxLayout="row" fxLayoutAlign="space-between center">
  <div  fxLayout="column" fxFlex="40" fxFlex.gt-sm="100" fxFlexAlign="end center">
     <mat-card >
       <mat-card-content>
         <form>
          <!--Website-->
          <div fxLayout="column">
              <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
                <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                  <mat-label>Website</mat-label>
                </div>
                <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                  <input class="mrgn-t-none"  matInput placeholder="Website" type="text"  required>
                </div>
             </div>
          </div>

          <!--Facebook-->
          <div fxLayout="column">
            <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
              <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                <mat-label>Facebook</mat-label>
              </div>
              <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                <input class="mrgn-t-none"  matInput placeholder="Facebook" type="text"  required>
              </div>
           </div>
        </div>

           <!--Instagram-->
           <div fxLayout="column">
            <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
              <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                <mat-label>Instagram</mat-label>
              </div>
              <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                <input class="mrgn-t-none"  matInput placeholder="Instagram" type="text"  required>
              </div>
           </div>
        </div>


             <!--Twitter-->
             <div fxLayout="column">
              <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
                <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                  <mat-label>Twitter</mat-label>
                </div>
                <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                  <input class="mrgn-t-none"  matInput placeholder="Twitter" type="text"  required>
                </div>
             </div>
          </div>


           </form>
       </mat-card-content>
     </mat-card>
  </div>


