<div fxLayout="row" fxLayoutAlign="space-between center">
  <div  fxLayout="column" fxFlex="40" fxFlex.gt-sm="100" fxFlexAlign="end center" style="padding-top:8%;">
     <mat-card >
       <mat-card-header>General Info</mat-card-header>

       <mat-card-content>
           <form>
            <div fxLayout="column"  fxLayoutGap.gt-md="15px">
              <div class="input" fxLayout="row" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" fxLayoutAlign="start">
                <input class="mrgn-t-none"type="file"  required style="margin-left:25%;">
              </div>
            </div>
            <!--Appreviation-->
            <div fxLayout="column">
              <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
                <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                  <mat-label>Appreviation</mat-label>
                </div>

                <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                  <input class="mrgn-t-none"  matInput placeholder="Appreviation" type="text"  required>

                </div>
             </div>
            </div>

            <!--Arabic Appreviation-->
            <div fxLayout="column">
              <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
                <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                  <mat-label>Arabic Appreviation</mat-label>
                </div>

                <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                  <input class="mrgn-t-none"  matInput placeholder="Arabic Appreviation" type="text"  required>

                </div>
             </div>
            </div>

             <!--Name-->
             <div fxLayout="column">
              <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
                <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                  <mat-label>Name</mat-label>
                </div>

                <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                  <input class="mrgn-t-none"  matInput placeholder="Name" type="text"  required>

                </div>
             </div>
            </div>

               <!--Arabic Name-->
               <div fxLayout="column">
                <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
                  <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                    <mat-label>Arabic Name</mat-label>
                  </div>

                  <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                    <input class="mrgn-t-none"  matInput placeholder="Arabic Name" type="text"  required>

                  </div>
               </div>
              </div>

              <!--TRN Number-->
              <div fxLayout="column">
                <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
                  <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                    <mat-label>TRN Number</mat-label>
                  </div>

                  <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                    <input class="mrgn-t-none"  matInput placeholder="TRN Number" type="text"  required>

                  </div>
               </div>
              </div>

             <!--Reference Number-->
            <div fxLayout="column">
              <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
                <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                  <mat-label>Reference Number</mat-label>
                </div>

                <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                  <input class="mrgn-t-none"  matInput placeholder="Reference Number" type="text"  required>

                </div>
            </div>
            </div>



           </form>
            <!--Save and Next-->
            <div fxLayout="column">
              <div class="Loginbtn" fxLayout="row" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" fxLayoutAlign="center">
                <button mat-raised-button (click)="NextLicence()" ><mat-icon>exit_to_app</mat-icon> Save and Next </button>
              </div>
            </div>
       </mat-card-content>



     </mat-card>
  </div>

