<div fxLayout="row" fxLayoutAlign="space-between center">
  <div  fxLayout="column" fxFlex="40" fxFlex.gt-sm="100" fxFlexAlign="end center" style="padding-top:8%;">
     <mat-card >
       <mat-card-header>Owner Info</mat-card-header>

       <mat-card-content>
           <form>
          <!--Title-->
          <div fxLayout="column">
            <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
              <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                <mat-label>Title</mat-label>
              </div>

              <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                <mat-select>
                     <mat-option>topping</mat-option>
                </mat-select>
              </div>
           </div>
          </div>

               <!--Name-->
               <div fxLayout="column">
                <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
                  <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                    <mat-label>Name</mat-label>
                  </div>

                  <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                    <input class="mrgn-t-none"  matInput placeholder="Name" type="text"  required>

                  </div>
               </div>
              </div>

                 <!--Arabic Name-->
                 <div fxLayout="column">
                  <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
                    <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                      <mat-label>Arabic Name</mat-label>
                    </div>

                    <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                      <input class="mrgn-t-none"  matInput placeholder="Arabic Name" type="text"  required>

                    </div>
                 </div>
                </div>

              <!--Email-->
               <div fxLayout="column">
                <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
                  <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                    <mat-label>Email</mat-label>
                  </div>

                  <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                    <input class="mrgn-t-none"  matInput placeholder="email" type="email"  required>

                  </div>
               </div>
              </div>

                 <!--Mobile-->
                 <div fxLayout="column">
                  <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
                    <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                      <mat-label>Mobile</mat-label>
                    </div>

                    <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                      <input class="mrgn-t-none"  matInput placeholder="Mobile" type="text"  required>

                    </div>
                 </div>
                </div>


                 <!--Password-->
                 <div fxLayout="column">
                  <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
                    <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                      <mat-label>Password</mat-label>
                    </div>

                    <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                      <input class="mrgn-t-none"  matInput placeholder="Password" type="text"  required>

                    </div>
                 </div>
                </div>

                 <!--Confirm Password-->
                 <div fxLayout="column">
                  <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
                    <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                      <mat-label>Confirm Password</mat-label>
                    </div>

                    <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                      <input class="mrgn-t-none"  matInput placeholder="Confirm Password" type="text"  required>

                    </div>
                 </div>
                </div>


              <!--Upload ID Copy-->
               <div fxLayout="column">
                <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
                  <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                    <mat-label> Uplaod ID Copy </mat-label>
                  </div>

                  <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                    <input class="mrgn-t-none"  type="file"  required>
                 </div>
               </div>
              </div>

                <!--Passport Copy-->
                <div fxLayout="column">
                  <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
                    <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                      <mat-label>Passport Copy </mat-label>
                    </div>

                    <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                      <input class="mrgn-t-none"  type="file"  required>
                   </div>
                 </div>
                </div>




           </form>
              <!--Save and Next-->
              <div fxLayout="column">
                <div class="Loginbtn" fxLayout="row" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" fxLayoutAlign="center">
                  <button mat-raised-button (click)="Next()"><mat-icon>exit_to_app</mat-icon> Save and Next </button>
                </div>
              </div>
       </mat-card-content>
     </mat-card>
  </div>
