<div fxLayout="row" fxLayoutAlign="space-between center">
  <div  fxLayout="column" fxFlex="40" fxFlex.gt-sm="100" fxFlexAlign="end center">
     <mat-card>
       <mat-card-header>Reset Password</mat-card-header>

       <mat-card-content>
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="height-full form-wrap-row set-resp-space" fxLayoutGap.gt-md="15px" style="padding-bottom: 5%;">
        <span>
          Please enter your email address and we'll send you a link to reset your password.
         </span>
         </div>
           <form>
            <div fxLayout="row wrap" fxLayoutAlign="start center" class="height-full form-wrap-row set-resp-space" fxLayoutGap.gt-md="15px">
              <div class="input" fxLayout="row" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" fxLayoutAlign="start">
                   <!--Username-->
                    <input class="mrgn-t-none"  matInput placeholder="Email" type="email" formControlName="SSD"  required>
                    <mat-icon class="email"> email</mat-icon>
                  </div>


             <div class="Loginbtn" fxLayout="row" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" fxLayoutAlign="center">
             <button mat-raised-button><mat-icon style=" transform: rotate(-40deg);">send</mat-icon> Submit </button>
             </div>
            </div>
           </form>
       </mat-card-content>

       <mat-card-footer>
        <div fxLayout="column" fxLayoutAlign="space-between center" class="height-full form-wrap-row set-resp-space" fxLayoutGap.gt-md="15px" class = "cardfooter">
          <div fxLayout="row" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" fxLayoutAlign="space-between center">
             <a class="regularlink" [mat-dialog-close]="true">Back to Sign In</a>

          </div>

        </div>
      </mat-card-footer>

     </mat-card>
  </div>
  <div fxFlex="40%" fxFlexAlign="end center"></div>
</div>
