<div fxLayout="row" fxLayoutAlign="space-between center">
  <div  fxLayout="column" fxFlex="40" fxFlex.gt-sm="100" fxFlexAlign="end center" style="padding-top:8%;">
     <mat-card  style="overflow-y: scroll; overflow-x: hidden;">
       <mat-card-header>Bank Info</mat-card-header>

       <mat-card-content >
        <div [formGroup]="orderForm">
          <div formArrayName="items"
            *ngFor="let item of orderForm.get('items').controls; let i = index;">
            <div [formGroupName]="i">
             <h3>Bank No. #{{i+1}}</h3>
            <!--Country-->
             <div fxLayout="column">
              <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
                <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                  <mat-label>Country</mat-label>
                </div>
                <div fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="100" fxFlex.gt-md="70">
                  <mat-select formControlName="Country">
                    <mat-option>topping</mat-option>
                  </mat-select>
                </div>
             </div>
            </div>

              <!--City-->
              <div fxLayout="column">
                <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
                  <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                    <mat-label>City</mat-label>
                  </div>
                  <div fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="100" fxFlex.gt-md="70">
                    <mat-select formControlName="City">
                      <mat-option>topping</mat-option>
                    </mat-select>
                  </div>
              </div>
              </div>

            <!--Currency-->
            <div fxLayout="column">
              <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
                <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                  <mat-label>Currency</mat-label>
                </div>
                <div fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="100" fxFlex.gt-md="70">
                  <mat-select formControlName="Currency">
                    <mat-option>topping</mat-option>
                  </mat-select>
                </div>
            </div>
            </div>


           <!--Bank-->
             <div fxLayout="column">
              <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
                <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                  <mat-label>Bank</mat-label>
                </div>
                <div fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="100" fxFlex.gt-md="70">
                  <mat-select formControlName="Bank">
                    <mat-option>topping</mat-option>
                  </mat-select>
                </div>
            </div>
            </div>

          <!--Bank Name-->
          <div fxLayout="column">
                <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
                  <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                    <mat-label>Bank Name</mat-label>
                  </div>
                  <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                    <input class="mrgn-t-none"  matInput placeholder="BankName" type="text"  required>
                  </div>
               </div>
           </div>

           <!--AccountName-->
           <div fxLayout="column">
            <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
              <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                <mat-label>Account Name</mat-label>
              </div>
              <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                <input class="mrgn-t-none"  matInput placeholder="Account Name" type="text"  required>
              </div>
           </div>
          </div>


         <!--IBAN-->
           <div fxLayout="column">
            <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
              <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                <mat-label>IBAN</mat-label>
              </div>
              <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                <input class="mrgn-t-none"  matInput placeholder="IBAN" type="text"  required>
              </div>
           </div>
          </div>

          <!--SwiftCode-->
          <div fxLayout="column">
            <div fxLayout="row wrap" fxLayoutAlign="start space-between"  fxLayout.xs="column">
              <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
                <mat-label>Swift Code</mat-label>
              </div>
              <div fxFlex.gt-sm="69" fxFlex.gt-xs="69" fxFlex="100" fxFlex.gt-md="69">
                <input class="mrgn-t-none"  matInput placeholder="SwiftCode" type="text"  required>
              </div>
           </div>
          </div>

          <hr/>
        </div>
        </div>
        </div>

         <!--Save and Next-->
         <div fxLayout="column">
          <div class="Loginbtn" fxLayout="row" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" fxLayoutAlign="end">
            <button mat-raised-button (click)="addItem()"><mat-icon>add_to_library</mat-icon> Add Bank </button>
          </div>
        </div>

             <!--Save and Next-->
             <div fxLayout="column">
              <div class="Loginbtn" fxLayout="row" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" fxLayoutAlign="center">
                <button mat-raised-button (click)="Next()"><mat-icon>exit_to_app</mat-icon> Save and Next </button>
              </div>
            </div>

       </mat-card-content>



     </mat-card>
  </div>
  <div fxFlex="40%" fxFlexAlign="end center"></div>
</div>

